<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailuer="false"
         syntaxCheck="false"
>
    <textsuites>
        <testsuite name="App Test">
            <directory>test</directory>
        </testsuite>
    </textsuites>
</phpunit>