<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         converNoticesToExceptions="true"
         converWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailuer="false"
         syntaxCheck="false"
>
    <textsutes>
        <testsuite name="App Test">
            <directory>test</directory>
        </testsuite>
    </textsutes>
</phpunit>
